<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    
</head>

<body>
    <!-- footer -->

    <footer th:fragment="footer" class="section deep-purple darken-2 white-text center">
        <p class="flow-text">Apex Coaching Institute &copy;2020</p>
        <p class="col s12 center grey-text">Developed & Designed by Anand Rathore with <span><i
                    class="fas fa-heart red-text"></i>&nbsp;</span></p>
    </footer>

    <!-- footer ends -->
</body>

</html>