<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!--Import Modified css-->
  <link rel="stylesheet" href="css/Style/modified.css">
  <link rel="stylesheet" href="css/sass/alerts.css">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/Style/sass/materialize.css" media="screen,projection" />
  <title>Confirm</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <div class="row ">
    <div class="col s12">
      <div class="container center valign-wrapper" style="height: 80vh">
        <form class="form-signin" method="post" th:action="@{/logout}">
          <h2>Are you sure you want to log out?</h2>
          <button class="btn btn-lg btn-primary blue" type="submit">log out</button>
          <input type="button" class="btn btn-lg green btn-primary" value="Not now" onclick="history.back()">
        </form>
      </div>
    </div>
  </div>
</body>

</html>