<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">

<head>
    <title>Update Teacher</title>
</head>

<body>

<div layout:fragment="content">
    <th:block th:if="${message}">
        <br>
        <section class="container materialert success">
            <i class="material-icons">check_circle</i> <span th:text="${message}"></span>
        </section>
    </th:block>
    <div class=" container">
        <h4 class="deep-purple-text">Update Teacher</h4>
        <div class="divider"></div><br>
        <div class="row">
            <form th:action="@{/updateTeacher}" method="Post" th:object="${teacher}">
                <div class="container">
                <input type="hidden" th:field="*{user_id}" />
                    <div class="col s12 valign-wrapper">
                        <div class="col s8">
                            <div class="input-field">
                                <input id="name" type="text" class="validate" th:field="*{name}" required>
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field">
                                <input id="phone" type="text" class="validate" th:field="*{phone}" required>
                                <label for="phone">Phone No.</label>
                            </div>
                        </div>
                        <div class="col s3 offset-s1">
                            <p>Gender :</p>
                            <p>
                                <label>
                                    <input class="with-gap" name="group1" type="radio" value="male" th:field="*{gender}"
                                           required />
                                    <span>Male</span>
                                </label></p>
                            <p>
                                <label>
                                    <input class="with-gap" name="group1" type="radio" value="female"
                                           th:field="*{gender}" required />
                                    <span>Female</span>
                                </label></p>

                        </div>
                    </div>
                    <div class="col s12">
                    <div class="input-field col s12">
							<input id="salary" type="text" class="validate" th:field="*{teacher_salary}" required>
							<label for="salary">Salary</label>
						</div>
						</div>
                    <div class="col s12">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" th:field="*{email}" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="container">
                            <button type="submit" class="btn deep-purple">Update Teacher</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>